[Unit]
Description=Atlassian Bamboo Agent
After=syslog.target network.target

[Service]
Type=forking
User=root
Group=root
ExecStart=/opt/bamboo-agent/bin/bamboo-agent.sh start
ExecStop=/opt/bamboo-agent/bin/bamboo-agent.sh stop

[Install]
WantedBy=multi-user.target